<div class="container mt-3">

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-lg">

                <div class="orden-compra-header col-md-12">
                    <h1 class="titulo">REPORTES DE VENTAS</h1>
                </div>


                <div class="d-flex justify-content-between reportes">
                    <div class="d-flex flex-row  buscadores">
                        <div class="input-group mb-3 col-3 selec_empleado">
                            <input type="datetime-local">
                            <input type="datetime-local">

                        </div>

                    </div>
                    <div class="d-flex flex-row p_derecha">

                        <div class="input-group mb-3 buscar_todo">
                            <input type="text" class="form-control inp_buscar" placeholder="Busca aquí"
                                aria-describedby="basic-addon1">
                        </div>

                        <div class="btn_imprimir">
                            <a (click)="getTemplateReporteVenta()" class="btn btn-info"><i
                                    class="bi bi-printer">print</i></a>

                        </div>

                    </div>
                </div>

                <table class="table tabla_reportes">
                    <thead class="tableCabe3">
                        <tr>
                            <th>N° Orden</th>
                            <th>DNI</th>
                            <th>Cliente</th>

                            <th>Empleado</th>
                            <th>Producto</th>

                            <th>Monto</th>
                            <th>Estado</th>

                        </tr>
                    </thead>
                    <tbody class="body_reporte">

                        <tr *ngFor="let venta of detalleVentas ">
                            <td>{{venta.venta.id}}</td>
                            <td>{{venta.venta.cliente.dni}}</td>
                            <td>{{venta.venta.cliente.nombre}}</td>
                            <td>{{venta.venta.empleado.nom}}</td>
                            <td>{{venta.carro.objMarca.descripcion}}</td>
                            <td>{{venta.cantidad * venta.carro.precio | number : '1.2-2'}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>